
@font-face{
    font-family:Mogra;
    src:url("Mogra.ttf");
}
.label
{
	-fx-font-family:Mogra;
	-fx-font-size:15px;
}

#home_icon
{
	
	-fx-border-radius:50%;
}
.list-view
{
	-fx-border-color:white;
	-fx-background-color:white;
	
}


.list-view .list-cell:odd
{
	
	-fx-background-color:white;

}

.list-view .list-cell:selected {
    -fx-background-color: linear-gradient(#328BDB 0%, #207BCF 25%, #1973C9 75%, #0A65BF 100%);
    -fx-text-fill: black; 
}

