@font-face{
    font-family:Mogra;
    src:url("Mogra.ttf");
}
.label
{
	-fx-font-family:Mogra;
	-fx-font-size:15px;
	
}


.jfx-button
{	
 -fx-background-color:  #3f51b5 ;
     -fx-text-fill:white;
	-fx-font-family:Mogra;
	-fx-font-size:15px;
}
.wifi-icon .icon{ 
    -fx-fill:   #3f51b5;
    -fx-padding: 20.0;
}
 
.wifi-icon {
    -fx-pref-width: 80px;
    -fx-background-radius: 80px;
    -fx-pref-height: 80px;
    -fx-background-color: transparent;
    -jfx-toggle-color: rgba(66.0, 133.0, 244.0, 0.29885056614875793);
    -jfx-untoggle-color: transparent;
}

.wifi-icon .jfx-rippler {
    -jfx-rippler-fill: rgba(66.0, 133.0, 244.0, 0.29885056614875793);
    -jfx-mask-type: CIRCLE;
}